.app-header {
  display: flex;
  align-items: center;
  padding: 48px 200px;
  background-color: #FFF9ED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.app-logo {
  height: 32px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .app-header {
    padding: 20px; /* Reduced padding */
  }

  .app-logo {
    height: 24px; /* Smaller logo on mobile */
  }
}